<div class="py-5">
  <div class="row">
      <div class="col-md-6 mx-auto">
          <div class="card rounded-0" style="background-color:lightgray;">
              <div class="Card-header">
                  <div style="height: 10px;"></div>
                  <h3 style="text-align: center; vertical-align: middle;">Please enter credentials to Login</h3>
              </div>
              <div class="card-body">
                  <div class="form">
                      <div class="form-group">
                          <label for="exampleInputEmail1" style="font-weight: bold;">Email</label>
                          <input type="email" class="form-control" aria-describedby="emailHelp"
                              placeholder="Enter email" [(ngModel)]="loginModel.Email" required>
                      </div>
                      <div class="form-group">
                          <label for="exampleInputPassword1" style="font-weight: bold;">Password</label>
                          <input type="password" [(ngModel)]="loginModel.Password" class="form-control"
                              id="exampleInputPassword1" placeholder="Password">
                      </div>
                      <label style="color: red;">{{errorMessage}}</label>
                      <div class="form-group">                        
                        <button type="submit" style="margin-left: 42%;" (click)="Login()" class="btn btn-success">Login</button>
                      </div>                      
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- 
<table style="height: 100px;"></table>

<table style="width: 100%; height: 180px;text-align: center;">
    <tr style="width: 100%;">
        <td  style="width: 30%;"></td>
        <td  style="width: 40%; border:1px solid black">
            <table style="border: 1px black;">
                <tr>
                    <td>Email</td>
                    <td>
                        <input type="email" style="width: 150%;" class="form-control" aria-describedby="emailHelp"
                        placeholder="Enter email" [(ngModel)]="loginModel.Email" required>
                    </td>
                </tr>
                <tr style="height: 10px;"></tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" style="width: 150%;" [(ngModel)]="loginModel.Password" class="form-control"
                        id="exampleInputPassword1" placeholder="Password">
                    </td>
                </tr>
                <tr style="height: 20px;"></tr>
                <tr>
                    <td><label style="color: red;">{{errorMessage}}</label></td>
                    <td>
                        <button type="submit" style="margin-left: 30%;" (click)="Login()" class="btn btn-success">Login</button>
                    </td>
                </tr>
            </table>
        </td>
        <td  style="width: 30%;"></td>
    </tr>
</table> -->