<div style="height: 20px;"></div>

<div style="height: 1000px;">
  <table style="width: 100%;">
    <tr>
      <td style="width: 2%;"></td>
      <td style="width: 50%; vertical-align: top;">
        <table border="1" style="width: 100%;">
          <tr style="background-color: #6b6bf3; height: 40px;text-align: center;border: 1px;">
            <td>AirLine</td>
            <td>Flight Number</td>
            <td>From Place</td>
            <td>To Place</td>
            <td>Cost</td>
          </tr>
          <tr *ngFor="let inventor of inventories" style="height: 40px;text-align: center;border: 1px;">
            <td>{{inventor.airLineName}}</td>
            <td>{{inventor.flightNumber}}</td>
            <td>{{inventor.fromPlace}}</td>
            <td>{{inventor.toPlace}}</td>
            <td>{{inventor.ticketCost}}</td>
          </tr>
        </table>
      </td>
      <td style="width: 6%;"></td>
      <td style="width: 40%;">
        <div class="card rounded-0" style="background-color:lightgray;">
          <div style="height: 10px;"></div>
          <div class="Card-header">
            <h3 class="mb-0" style="text-align: center;">Add new Inventory</h3>
          </div>
          <div class="card-body">
              <div class="form">
                  <div class="form-group">
                    <label>Air Line</label>
                    <select class="form-control" [(ngModel)]="inventoryModel.airLineId">
                      <option *ngFor="let airLine of airLines; let i = index;" [value]="airLines[i].airlineId">
                        {{airLines[i].name}}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Flight Number</label>
                    <input type="text" class="form-control" [(ngModel)]="inventoryModel.flightNumber"/>
                  </div>
                  <div class="form-group">
                    <label>From Place</label>
                    <input type="text" class="form-control" [(ngModel)]="inventoryModel.fromPlace"/>
                  </div>
                  <div class="form-group">
                    <label>To Place</label>
                    <input type="text" class="form-control" [(ngModel)]="inventoryModel.toPlace"/>
                  </div>
                  <div class="form-group">
                    <label>Start Date</label>
                    <input type="date" class="form-control" [(ngModel)]="inventoryModel.startDate"/>
                  </div>
                  <div class="form-group">
                    <label>End Date</label>
                    <input type="date" class="form-control" [(ngModel)]="inventoryModel.endDate"/>
                  </div>
                  <div class="form-group">
                    <label >Schedule Type</label>
                    <select class="form-control" [(ngModel)] = "inventoryModel.scheduledDays">
                      <option [value]="1"> Daily</option>
                      <option [value]="2"> Week Days</option>
                      <option [value]="3"> Weekends</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label>Instrument</label>
                    <input class="form-control" [(ngModel)]="inventoryModel.instrument">
                  </div>
                  <div class="form-group">
                    <label>Business Class Seats</label>
                    <input type="number" class="form-control" [(ngModel)]="inventoryModel.bClassCount">
                  </div>
                  <div class="form-group">
                    <label>Non-Business Class Seats</label>
                    <input type="number" class="form-control" [(ngModel)]="inventoryModel.nBClassCount">
                  </div>
                  <div class="form-group">
                    <label>Ticket Cost</label>
                    <input type="number" class="form-control" [(ngModel)]="inventoryModel.ticketCost">
                  </div>
                  <div class="form-group">
                    <label>Rows </label>
                    <input type="number" class="form-control" [(ngModel)]="inventoryModel.rows">
                  </div>
                  <div class="form-group">
                    <label>Meal </label>
                    <select class="form-control" [(ngModel)]="inventoryModel.mealType">
                      <option [value]="1">Veg</option>
                      <option [value]="2">Non-Veg</option>
                    </select>                          
                  </div>
                  <div style="height: 20px;">{{successMsg}}</div>
                  <button type="submit" style="margin-left: 33%;" (click)="AddNewInventory()" class="btn btn-success">Add Inventory</button>                        
                </div>
          </div>
        </div>
      </td>
      <td style="width: 2%;"></td>
    </tr>
  </table>
</div>