<div style="height: 20px;"></div>

<table border="1" style="width: 100%;">
    <tr *ngIf="isTicketsAvailable()" style="background-color: #007bff; height: 40px;text-align: center;border: 1px;">
      <td>Booking Id</td>
      <td>Ticket Id</td>
      <td>Flight Number</td>
      <td>From Place</td>
      <td>To Place</td>
      <td>Reporting Time</td>
      <td>Cost</td>
      <td>Flyer Name</td>
      <td>Age</td>
      <td>Status</td>
    </tr>
    <tr *ngFor="let ticket of myTickets" style="height: 40px;text-align: center;border: 1px;">
      <td>{{ticket.bookingID}}</td>
      <td>{{ticket.ticketID}}</td>
      <td>{{ticket.flightNumber}}</td>
      <td>{{ticket.fromPlace}}</td>
      <td>{{ticket.toPlace}}</td>
      <td>{{ticket.boardingTime}}</td>
      <td>{{ticket.cost}}</td>
      <td>{{ticket.passengerName}}</td>
      <td>{{ticket.age}}</td>
      <td>{{ticket.statusStr}}</td>
    </tr>
  </table>