<div>
  <span style="color: blue;">{{airLineMsg}}</span>
</div>
<table border="1">
  <tr style="background-color: gray;">
    <td>AirLine Name</td>
    <td>Address</td>
    <td>Contact Number</td>
  </tr>
  <tr *ngFor="let airLine of airLines" style="background-color: indianred;">
    <td>{{airLine.name}}</td>
    <td>{{airLine.address}}</td>
    <td>{{airLine.contactNumber}}</td>
  </tr>
</table>

<div class="py-5">
  <div class="row">
      <div class="col-md-6 mx-auto">
          <div class="card rounded-0">
              <div class="Card-header">
                  <h3 class="mb-0">Add new AirLine</h3>
              </div>
              <div class="card-body">
                  <div class="form">
                      <div class="form-group">
                        <label for="FirstName">AirLine Name</label>
                        <input type="text" class="form-control" [(ngModel)]="airLine.name"/>
                      </div>
                      <div class="form-group">
                        <label for="LastName">Address</label>
                        <input type="text" class="form-control" [(ngModel)]="airLine.address"/>
                      </div>
                      <div class="form-group">
                        <label for="Mobile">Mobile</label>
                        <input type="text" class="form-control" [(ngModel)]="airLine.contactNumber"/>
                      </div>                      
                      <button type="submit" (click)="AddNewAirLine()" class="btn btn-success float-right">Add</button>
                    </div>
              </div>
          </div>
      </div>
  </div>
</div>